.history {
  flex-grow: 1;
  max-width: 50%;
}

.table {
  width: 100%;

  td,
  th {
    border: 1px solid black;
    padding: 8px;
  }

  th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
  }

  tr:nth-child(even){
    background-color: #cccccc;
  }
}