.form-wrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 350px;
}
.form {
  display: flex;
  flex-direction: column;
}

.guest,
.form > * {
  margin-top: 20px;
}