.app {
  width: 100%;
  height: 100%;
  padding: 2%;
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 1000px;
  background: #eaeaea;
}

.historyWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}